@page "/stats"

@inherits OwningComponentBase<IridiumLiveDbContext>

@using System.Diagnostics

@inject IStatsService statsService
@inject TimerService timer

<h2>Statistics</h2>
<span class="size-label">Last page update: @latestUpdate</span>

@if (stats == null)
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" class="ui-progressbar-2" />
}
else
{
    <RadzenGrid AllowPaging="true" Data="@stats" TItem="Stat">
        <Columns>
            <RadzenGridColumn TItem="Stat" Property="SatNo" Title="Sat" />
            <RadzenGridColumn TItem="Stat" Property="Iras" Title="Ring alerts" />
            <RadzenGridColumn TItem="Stat" Property="Ibcs" Title="Broadcasts" />
        </Columns>
    </RadzenGrid>
}

@code {
    private ICollection<Stat> stats;
    private string latestUpdate;
    private const int interval = 1000;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        StartTimer(interval);
        return base.OnAfterRenderAsync(firstRender);
    }

    private void StartTimer(int interval)
    {
        timer.SetTimer(interval);
        timer.OnElapsed -= TimerElapsedHandler;
        timer.OnElapsed += TimerElapsedHandler;
        //Debug.WriteLine("Timer Stats Started. {0}", Thread.CurrentThread.ManagedThreadId);
    }

    private void TimerElapsedHandler()
    {
        //Debug.WriteLine("Timer Stats Elapsed. {0}", Thread.CurrentThread.ManagedThreadId);
        InvokeAsync(async () => await ReloadOnTimer());
    }

    private async Task ReloadOnTimer()
    {
        try
        {
            stats = await statsService.GetStatsAsync();
            latestUpdate = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss z");
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex.Message);
        }
    }
}   