@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <RadzenLink Icon="code" Path="https://github.com/microp11/iridiumlive" target="_blank" Text="Code" />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
