.iridium-live-version {
    font-size: small;
    color: fuchsia;
}

.route-corridor {
    stroke: #000000;
    stroke-opacity: 0.1;
}

.ui-progressbar-indeterminate.il-progressbar-2 {
    height: 2px;
}

.live-layout-buttons {
    float: right;
    margin-top: -16px;
}

.il-button-playback {
    position: relative;
    top: -1px;
}